*{
  margin: 0px;
  padding: 0PX;
  box-sizing: border-box;

}  
.premerrond{
  margin-left: 450px;

}
.btn{
  background-color: #f0f8ff;
  font-size: 25PX;
  color: black;
  border-color: black;width: 250PX;height: 50PX;
}
/* header{
  /* background-color: white; */ */
.BTN2{background-color: black;
    color: aliceblue;
    font-size: 25PX;width: 250PX;height: 50PX;

}
.entete{
display: flex;
    background-color:white;
    /* display: flexbox; */
    justify-content: space-between;
    align-items: center;
    margin-left: 60PX;margin-right: 60PX;
}
.les_bares_de_recherche{
    display: flex;
    gap: 4PX;
    background-color:white
    
}
.lesbares_du_millieu{
padding:12PX ;
}
.couleur_de_creative{
    color: blue;
    
}
.oyetcreative{
  font-size: 70PX;
}


.couleur_du_nom{
    color: rgb(10, 10, 153);
    font-weight: bold;
}
.cv_et_realisation{
    display: flex;
   
}
.lecerclerouge{
 
  /* justify-content: flex-start;
  
 padding-top: 3%;
  padding-bottom: 3%;
  padding-left: -100%; */

}

.lepetitexteetlenom{
    margin-left: 20%;
}
.luiseul{
    padding: 10px;
}
.CVREAL{
    padding: 30PX;
}
.classepremierepage{
  align-content: center;
  align-items: center;
}
.ma_photo{
  padding: 60px; 
  right: 60px;
  text-align: center;
  position: relative;
  top: 30PX;
}
.deuxieme_page{
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 235, 215);
    width: 100%;
    text-align: center;

margin-left: auto; margin-right: auto;   
}
.moncv{
    background-color: black;
    color: aliceblue;
    font-size: 25PX;width: 250PX;height: 50PX;
}
.LE3ieme{
    background-color: black;
    color: aliceblue;
   text-align: center;
   align-items: center;
   align-content: center;
   
   
}
.les50etautres{
    display: flex;
    text-align: center;

    width: 800px;
    margin-right: 700PX;margin-left: 300PX;
}
.espacedes50{
    padding: 50PX;
    
}
.lescouleursdesanne50{
    color: rgb(224, 179, 141);
    font-size: 70PX;
}
.paragraphe{
    text-align: center;align-items: center;
  }
  .les50etautres4{
    display: flex;
    gap: 100px;
    text-align: center;

  }
  .lemilieuduservice{
    align-items: center;
    text-align: center;
  }
  .lemilieuduservice{
     align-content: center;

  }
  #desinetautres{
    justify-content: space-between;
    /* text-align: center; */
    align-items: center;
  }
  .dernierboutonenvoyer{
    background-color: black;
    color: aliceblue;
    width: 150px;
    height: 50PX;
    justify-content: flex-end;
  
  }
  .LEDISPLAYDESINPUT{
    display: grid;  
    gap: 5%;

  }
  .avandernier{
    display: flex;
     align-items: center; 
     justify-content: space-between;
     gap: 100PX;
     background-color: rgb(131, 238, 193);
     padding: 10%;
    
  }
  .cotétémoignage{
    display: flex;

  }
.demicerclerose{
  padding-bottom: -50PX;
}
  
  .programme_témoingnage{
    align-items: center;flex-direction: column;display: flex;
    gap: 150PX;

    
  }
  .les3_way{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;


  }
  .auteur{
    display: flex;
    align-items: center; 
    /* la precédente à aidé a mettre l'image et l'ecriture bien en forme */
    justify-content: center;


  }
  .imageauteur{
    border-radius: 100%;
  }
  .couleur_auteur{
    font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;   }
#Témoignage{
  display: flex;
  flex-direction: column;
  gap: 30PX;
  background-color: rgb(157, 131, 182);
  
}
.letextedumilieuu{
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;


}
.le_dernier_input{
  width: 400PX;
  height: 100px;
}
.lesautrescases{
  height: 30PX;
}
.les4boutons{
  display: flex;
  flex-direction: cOlumn;
  gap: 130PX;
}
.les3logo{
  display: flex;
  flex-direction: column;
  gap: 20PX;
}
.lespetitslogo{
  display: flex
}
.nice{
  display: flex;
  flex-direction: column;
  gap: 30PX;
}
.paracoul{
  color: black;
}
.espacecontacteznous{
  display: flex;
  gap: 60PX;
  flex-direction: column;
}
.espacelogocontactez{
  word-spacing: 20PX;
}
#couleurdu{
  color: black;
  font-style: italic;
}


.DERNIERPARTIE{
  background-color: black;
  color: aliceblue;
  padding: 1%;
  display: flex;
  flex-direction: column;
   gap: 100PX;
  
}
.dernierhaut{
  display: flex;
  justify-content: space-between;
}
#le2{
  display: flex;
  justify-content: space-between;
  gap: 10PX;
  padding-left: 15%;padding-right: 15%;
}
#restezauùillieu{
  justify-content: space-between;
  text-align: center;
  word-spacing: 80%;
  
  
}
.les4duservice{
  border-radius: 2%;
  color: rgb(7, 92, 167);
  background-color: white;
  gap: 70PX;

}
#relise1{
  background-color: rgb(184, 190, 178);
  padding: 10%;
  align-items: center;
  text-align: center;
}
#imaqse2 > img{
  object-fit: contain;

}
#lesmettresen_flex{
  display: flex;
  justify-content: center;
  gap: 300PX;
  align-items: center;
}
#ompetetparac{
text-align: center;
}
#Section_compétence{
  display: flex;flex-direction: column;
  gap: 40PX;
  padding: 10%;
}